.about {
  margin: 70px 0;
}

.about__caption {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.about__caption--text {
  width: 900px;
  height: 150px;
  color: #252525;
  font-size: 40px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  & b {
    font-style: normal;
    font-weight: 800;
    line-height: normal;
  }
}

.about__caption--links {
  height: 150px;
  width: 400px;
  padding-right: 70px;
  margin-right: 0;
  display: flex;
  flex-direction: column;
  gap: 30px;
  flex-wrap: wrap;
  align-content: flex-end;
  justify-content: center;
  background-color: #252525;

  & p {
    color: #fff;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    text-transform: uppercase;
  }
}

.about__caption--links__p {
  display: flex;
  margin: 0;
  justify-content: flex-end;
  & p {
    margin: 0;
  }
}

.about__caption--links__img {
  margin-left: 70px;
  display: flex;
  gap: 10px;
  & a img {
    width: 30px;
    height: 30px;
    flex-direction: row;
  }
}

@media screen and (min-width: 768px) and (max-width: 1200px) {
  .about {
    margin: 70px 0;
    margin-bottom: 0;
  }

  .about__caption {
    display: flex;
    flex-direction: column;
    gap: 90px;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  .about__caption--text {
    margin: 0;
    text-align: center;
    width: auto;
    color: #252525;
    font-size: 40px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    & b {
      font-style: normal;
      font-weight: 800;
      line-height: normal;
    }
  }

  .about__caption--links {
    height: 150px;
    width: 100%;
    padding-right: 70px;
    margin-right: 0;
    display: flex;
    flex-direction: column;
    gap: 30px;
    flex-wrap: wrap;
    align-content: flex-end;
    justify-content: center;
    background-color: #252525;

    & p {
      color: #fff;
      font-size: 20px;
      font-style: normal;
      font-weight: 400;
      text-transform: uppercase;
    }
  }

  .about__caption--links__img {
    margin-left: 70px;
    display: flex;
    gap: 10px;
    & a img {
      width: 40px;
      height: 40px;
      flex-direction: row;
    }
  }
}

@media screen and (min-width: 320px) and (max-width: 768px) {
  .about {
    margin: 70px 0;
    margin-bottom: 0;
  }

  .about__caption {
    display: flex;
    flex-direction: column;
    gap: 90px;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  .about__caption--text {
    padding: 0 20px;
    margin: 0 0 50px 0;
    text-align: center;
    width: auto;
    color: #252525;
    font-size: 40px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    & b {
      font-style: normal;
      font-weight: 800;
      line-height: normal;
    }
  }

  .about__caption--links {
    height: 250px;
    width: 100%;
    padding-right: 70px;
    margin-right: 0;
    display: flex;
    flex-direction: column;
    gap: 30px;
    flex-wrap: wrap;
    align-content: flex-end;
    justify-content: center;
    background-color: #252525;

    & p {
      color: #fff;
      font-size: 30px;
      font-style: normal;
      font-weight: 400;
      text-transform: uppercase;
    }
  }

  .about__caption--links__img {
    margin-left: 70px;
    display: flex;
    gap: 20px;
    & a img {
      width: 60px;
      height: 60px;
      flex-direction: row;
    }
  }
}
