.contact {
  border-top: 1px solid #252525;
  padding: 50px 0px 100px 0px;

  .container {
    display: flex;
    padding: 50px 70px 0px 0px;
    max-width: 89%;
    gap: 80px;

    .contact__title {
      width: 50%;
      color: #333;
      font-size: 7rem;
      font-style: normal;
      font-weight: 300;
      line-height: normal;
      text-transform: uppercase;
    }

    .contact__text-wrapper {
      width: 50%;
      display: flex;
      flex-direction: column;
      gap: 30px;

      .contact__text-wrapper--title {
        color: #252525;
        font-size: 3rem;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        text-transform: uppercase;
      }

      .contact__text-wrapper--text {
        color: #252525;
        font-size: 1.5rem;
        font-style: normal;
        font-weight: 300;
        line-height: normal;
      }

      .contact__text-wrapper--button {
        display: flex;
        padding: 16px 30px;
        align-items: center;
        gap: 10px;
        border-radius: 50px;
        background: #252525;
        color: #fff;
        font-size: 1rem;
        font-style: normal;
        font-weight: 300;
        line-height: normal;
        text-transform: capitalize;
        margin-left: 0;
      }
    }
  }
}

@media screen and (min-width: 768px) and (max-width: 1200px) {
  .contact {
    padding: 30px 0px 50px 0px;

    .container {
      display: flex;
      flex-direction: column;
      padding: 0;
      max-width: 89%;
      gap: 40px;

      .contact__title {
        width: 100%;
        text-align: center;
      }

      .contact__text-wrapper {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 30px;
        text-align: center;

        .contact__text-wrapper--button {
          margin: 0 auto;
        }
      }
    }
  }
}

@media screen and (min-width: 320px) and (max-width: 768px) {
  .contact {
    padding: 30px 0px 50px 0px;

    .container {
      display: flex;
      flex-direction: column;
      padding: 0;
      max-width: 89%;
      gap: 30px;

      .contact__title {
        width: 100%;
        text-align: center;
        font-size: 4rem;
      }

      .contact__text-wrapper {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 30px;
        text-align: center;

        .contact__text-wrapper--title {
          font-size: 2.5rem;
        }

        .contact__text-wrapper--text {
          font-size: 1.5rem;
        }

        .contact__text-wrapper--button {
          display: flex;
          width: 100%;
          padding: 30px 0;
          align-items: center;
          gap: 10px;
          margin: 0 auto;
        }

        .contact__text-wrapper--button p {
          margin-right: 0;
        }

        .contact__text-wrapper--button svg {
          margin-left: 0;
        }
      }
    }
  }
}
