.footer {
  border-top: 1px solid #252525;

  .container {
    max-width: 89%;
    display: flex;
    padding-top: 30px;
    padding-bottom: 30px;

    .footer__text {
      margin-left: 0;
      color: #333;
      font-size: 1rem;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
    }

    .footer__text--name {
      font-weight: 600;
    }

    .footer__social-media {
      margin-right: 0;
      display: flex;
      gap: 10px;
    }
  }
}

@media screen and (min-width: 768px) and (max-width: 1200px) {
  .footer {
    .container {
      padding-top: 50px;
      padding-bottom: 50px;
    }
  }
}

@media screen and (min-width: 320px) and (max-width: 768px) {
  .footer {
    .container {
      display: flex;
      padding-top: 50px;
      padding-bottom: 50px;
      flex-direction: column;
      align-items: center;

      .footer__text {
        margin: 0;
      }

      .footer__social-media {
        margin: 0;
        width: 150px;
        display: flex;
        justify-content: space-between;
        margin-top: 20px;
      }
    }
  }
}
