.menu {
  margin: 40px 70px;
  height: 70px;
  display: flex;
  align-items: center;
  & a {
    margin-left: 0;
  }
}

.menu__mobile-logo {
  display: none;
  width: 91px;
  height: 35px;
}

.menu__tab {
  margin-right: 0;
  color: #252525;
  text-decoration: none;
  text-align: center;
  font-family: sans-serif;
  font-size: 25px;
  font-weight: 600;
  line-height: normal;
}

@media screen and (min-width: 320px) and (max-width: 768px) {
  .menu__logo {
    display: none;
  }
  .menu__mobile-logo {
    display: block;
    margin-right: 350px;
  }
}
