.logos {
  padding: 40px 0;
  height: 210px;
  max-width: 1920px;
  display: grid;
  gap: 20px;
  grid-template-rows: repeat(1, 1fr);
  grid-template-columns: repeat(7, 1fr);
  align-items: center;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}

.logos__logo-item {
  display: flex;
  align-items: center;
  height: 60px;
  width: 180px;
  background-color: white;
  border-radius: 50px;
}

@media screen and (min-width: 768px) and (max-width: 1200px) {
  .logos {
    border-top: none;
    border-bottom: none;
    max-width: 990px;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(4, 1fr);
    align-items: center;
  }

  .logos__logo-item {
    align-items: center;
    height: 60px;
    background-color: white;
    border-radius: 50px;
    padding: 10px;
  }

  .logo-item--1 {
    grid-column: 1;
  }

  .logo-item--2 {
    width: 260px;
    grid-column: 2 / span 2;
  }

  .logo-item--3 {
    grid-column: 4;
  }

  .logo-item--4 {
    grid-row: 2;
  }
  .logo-item--5 {
    grid-row: 2;
  }
  .logo-item--6 {
    grid-row: 2;
  }
  .logo-item--7 {
    grid-row: 2;
  }
}

@media screen and (min-width: 320px) and (max-width: 768px) {
  .logos {
    height: 550px;
    border-top: none;
    border-bottom: none;
    max-width: 600px;
    gap: 20px;
    grid-template-rows: repeat(5, 1fr);
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
  }

  .logos__logo-item {
    align-items: center;
    height: 80px;
    width: 300px;
    background-color: white;
    border-radius: 50px;
    padding: 20px;
  }

  .logo-item--1 {
    grid-row: 1;
    grid-column: 1 / span 2;
  }

  .logo-item--2 {
    width: 260px;
    grid-row: 2;
    grid-column: 1 / span 2;
  }

  .logo-item--3 {
    grid-row: 3;
  }

  .logo-item--4 {
    grid-row: 3;
  }
  .logo-item--5 {
    grid-row: 4;
  }
  .logo-item--6 {
    grid-row: 4;
  }
  .logo-item--7 {
    grid-row: 5;
    grid-column: 1 / span 2;
  }
}
