@use "reset.scss";
@use "header.scss";
@use "top.scss";
@use "about.scss";
@use "logos.scss";
@use "what-i-do.scss";
@use "selected.scss";
@use "myClients.scss";
@use "contact.scss";
@use "footer.scss";

@import url("https://fonts.googleapis.com/css2?family=DynaPuff:wght@400;500;600;700&family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Manrope:wght@200;300;400;500;600;700;800&family=Montserrat:wght@400;700&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");

body {
  background-color: #f5f3ea;
}

.width__container {
  max-width: 1920px;
}
