.my-clients {
  border-top: 1px solid #252525;

  .container {
    .my-clients__title {
      padding-top: 50px;
      text-align: center;
      color: #252525;
      font-size: 11rem;
      font-style: normal;
      font-weight: 300;
      line-height: normal;
      letter-spacing: 8.48px;
      text-transform: uppercase;
    }

    .my-clients__people {
      padding-top: 50px;
      max-width: 89%;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: repeat(2, auto);
      margin-bottom: 100px;

      .my-clients__people-man {
        border-bottom: 1px solid #000;
        border-right: 1px solid #000;
        padding: 30px;
        display: flex;
        flex-direction: column;
        height: auto;

        &:nth-child(3),
        &:nth-child(6) {
          border-right: none;
        }

        &:nth-child(4),
        &:nth-child(5),
        &:nth-child(6) {
          border-bottom: none;
        }

        .my-clients__people-man--title {
          height: 264px;
          margin-top: 30px;
          color: #333;

          font-size: 2.5rem;
          font-style: normal;
          font-weight: 800;
          line-height: 44px;
        }

        .my-clients__people-man--comment {
          height: 270px;
          margin-top: 30px;
          color: #000;
          font-family: Inter;
          font-size: 1.25rem;
          font-style: normal;
          font-weight: 400;
          line-height: 30px;
        }

        .my-clients__people-man--person {
          margin-top: 30px;
          display: inline-flex;
          gap: 20px;

          .my-clients__people-man--photo {
            width: 70px;
            height: 70px;
            gap: 10px;
            border-radius: 50px;
          }

          .my-clients__people-man--text-wrapper {
            .my-clients__people-man--name {
              padding-top: 10px;
              color: #000;
              font-family: Inter;
              font-size: 1.25rem;
              font-style: normal;
              font-weight: 600;
              line-height: 20px;
            }

            .my-clients__people-man--job {
              padding-top: 10px;
              padding-bottom: 10px;
              color: #000;
              font-family: Inter;
              font-size: 1rem;
              font-style: normal;
              font-weight: 400;
              line-height: 20px;
            }
          }
        }
      }
    }
  }
}

@media screen and (min-width: 768px) and (max-width: 1200px) {
  .my-clients {
    .container {
      .my-clients__title {
        padding-top: 30px;
        font-size: 7.5rem;
        letter-spacing: 6px;
      }

      .my-clients__people {
        padding-top: 30px;
        max-width: 89%;
        display: flex;
        flex-direction: column;
        margin-bottom: 30px;

        .my-clients__people-man {
          border-right: none;
          padding: 40px 0px;
          display: flex;
          flex-direction: column;
          height: auto;

          &:nth-child(4),
          &:nth-child(5) {
            border-bottom: 1px solid #252525;
          }

          &:nth-child(6) {
            border-bottom: none;
          }

          .my-clients__people-man--title {
            height: auto;
          }

          .my-clients__people-man--comment {
            height: auto;
          }
        }
      }
    }
  }
}

@media screen and (min-width: 320px) and (max-width: 768px) {
  .my-clients {
    .container {
      .my-clients__title {
        padding-top: 30px;
        font-size: 4rem;
      }

      .my-clients__people {
        padding-top: 30px;
        max-width: 89%;
        display: flex;
        flex-direction: column;
        margin-bottom: 30px;

        .my-clients__people-man {
          border-right: none;
          padding: 40px 0px;
          display: flex;
          flex-direction: column;
          height: auto;

          &:nth-child(4),
          &:nth-child(5) {
            border-bottom: 1px solid #252525;
          }

          &:nth-child(6) {
            border-bottom: none;
          }

          .my-clients__people-man--title {
            height: auto;
          }

          .my-clients__people-man--comment {
            height: auto;
          }
        }
      }
    }
  }
}
