.selected__h1 {
  color: #252525;
  text-align: center;
  font-size: 100px;
  font-style: normal;
  line-height: normal;
  letter-spacing: 8.48px;
  text-transform: uppercase;
  padding: 40px 0 50px 0;
  border-top: 1px solid black;
}

.selected__showroom {
  display: flex;
  flex-direction: column;
  gap: 70px;
}

.selected__collection--trinity {
  display: flex;
  flex-direction: row;
  gap: 40px;
}

.selected__collection--morpheus {
  display: flex;
  flex-direction: row;
  gap: 40px;
}

.showroom__card {
  width: 440px;
  height: 440px;
  & p {
    color: #000;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: 44px; /* 110% */
    text-transform: uppercase;
  }
}

.card__tags {
  display: flex;
  gap: 30px;
  margin-top: 30px;
  margin-bottom: 280px;
  & a {
    padding: 10px 20px;
    border-radius: 50px;
    margin: 0px;
    background-color: white;
    text-decoration: none;
    color: #252525;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
}

.card__button {
  display: flex;
  margin-right: 0px;
  color: #fff;
  font-size: 18px;
  font-style: normal;
  font-weight: 420px;
  line-height: normal;
  text-transform: capitalize;
  background: #252525;
  padding: 10px 30px;
  border-radius: 50px;
}

.showroom__picture {
  display: flex;
  & img {
    width: 440px;
    height: 440px;
  }
}

.selected__button--allwork {
  margin: 70px auto 100px auto;
  display: flex;
  padding: 15px 60px;
  align-items: center;
  gap: 10px;
  border-radius: 50px;
  border: none;
  background: #fff;
  color: #252525;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

@media screen and (min-width: 768px) and (max-width: 1200px) {
  .selected__collection--trinity {
    display: flex;
    flex-direction: column-reverse;
    gap: 40px;
  }

  .selected__collection--morpheus {
    display: flex;
    flex-direction: column;
    gap: 40px;
  }

  .card__tags {
    margin-bottom: 20px;
  }

  .showroom__card {
    height: 200px;
    min-width: 1100px;
  }

  .showroom__picture {
    & img {
      width: 1100px;
      height: 1100px;
    }
  }
}

@media screen and (min-width: 320px) and (max-width: 768px) {
  .selected__h1 {
    font-size: 60px;
  }

  .selected__collection--trinity {
    display: flex;

    flex-direction: column-reverse;
    gap: 40px;
  }

  .selected__collection--morpheus {
    display: flex;
    flex-direction: column;
    gap: 40px;
  }

  .card__tags {
    margin-bottom: 20px;
  }

  .showroom__card {
    height: 200px;
    min-width: 550px;
  }

  .showroom__picture {
    & img {
      width: 550px;
      height: 550px;
    }
  }

  .selected__button--allwork {
    padding: 15px 250px;
  }
}
