.top__caption {
  display: flex;
  align-items: center;
  align-content: center;
  flex-direction: column;
  text-transform: uppercase;
  text-align: center;
  color: #252525;

  & h1 {
    font-size: 150px;
    font-weight: 400;
    line-height: normal;
  }

  & h2 {
    font-size: 100px;
    font-weight: 100;
    line-height: normal;
  }
}

.top__hero-img {
  max-width: 100%;
  height: 956px;
  background-image: url(/images/hero-image.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.scroll-down {
  margin: 30px auto;
  height: 40px;
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 768px) and (max-width: 1200px) {
  .top__caption {
    & h1 {
      font-size: 80px;
      font-weight: 400;
      line-height: normal;
    }

    & h2 {
      font-size: 60px;
      font-weight: 100;
      line-height: normal;
    }
  }
}

@media screen and (min-width: 320px) and (max-width: 768px) {
  .top__hero-img {
    background-image: url(/images/Herophoto.png);
  }

  .top__caption {
    & h1 {
      font-size: 80px;
      font-weight: 400;
      line-height: normal;
    }

    & h2 {
      font-size: 60px;
      font-weight: 100;
      line-height: normal;
    }
  }
}
