.what-i-do {
  border-top: 1px solid #252525;

  .container {
    display: flex;

    .what-i-do__image {
      background-image: url(../images/what-i-do-bgd.jpg);
      width: 50%;
    }

    .what-i-do__text-wrapper {
      width: 50%;
      display: flex;
      flex-direction: column;
    }

    .what-i-do__title {
      display: flex;
      justify-content: center;
      padding-top: 70px;
      color: #252525;
      font-size: 7rem;
      font-style: normal;
      font-weight: 300;
      line-height: normal;
      text-transform: uppercase;
    }

    .what-i-do__designs {
      width: 78%;
      display: flex;
      justify-content: center;
      flex-direction: column;
      padding-top: 100px;
      max-width: 890px;

      .what-i-do__designs-title {
        color: #000;
        font-size: 2.75rem;
        font-style: normal;
        font-weight: 500;
        line-height: 48px;
        text-transform: uppercase;
      }

      .what-i-do__designs--digital {
        .what-i-do__designs-title::before {
          content: "01";
          color: #000;
          font-size: 2.75rem;
          font-style: normal;
          font-weight: 10;
          line-height: 48px;
          text-transform: uppercase;
        }
      }

      .what-i-do__designs--art {
        .what-i-do__designs-title::before {
          content: "02";
          color: #000;
          font-size: 2.75rem;
          font-style: normal;
          font-weight: 10;
          line-height: 48px;
          text-transform: uppercase;
        }
      }

      .what-i-do__designs--interaction {
        .what-i-do__designs-title::before {
          content: "03";
          color: #000;
          font-size: 2.75rem;
          font-style: normal;
          font-weight: 10;
          line-height: 48px;
          text-transform: uppercase;
        }
      }

      .what-i-do__designs--motion {
        padding-bottom: 40px;

        .what-i-do__designs-title::before {
          content: "04";
          color: #000;
          font-size: 2.75rem;
          font-style: normal;
          font-weight: 10;
          line-height: 48px;
          text-transform: uppercase;
        }
      }

      .what-i-do__designs-text {
        max-width: 759px;
        color: #000;
        font-family: Inter;
        font-size: 1.25rem;
        font-style: normal;
        font-weight: 200;
        line-height: 28px;
        padding-top: 10px;
      }

      .what-i-do__designs-text::after {
        content: "";
        display: block;
        margin-top: 40px;
        margin-bottom: 40px;
        width: auto;
        height: 1px;
        background: #252525;
      }

      .what-i-do__designs--motion {
        .what-i-do__designs-text::after {
          content: none;
        }
      }
    }
  }
}

@media screen and (min-width: 768px) and (max-width: 1200px) {
  .what-i-do {
    .container {
      display: flex;
      flex-direction: column;

      .what-i-do__image {
        height: 991px;
        background-image: url(../images/what-i-do-bgd.jpg);
        width: 100%;
      }

      .what-i-do__text-wrapper {
        width: 100%;
      }
    }
  }
}

@media screen and (min-width: 320px) and (max-width: 768px) {
  .what-i-do {
    .container {
      display: flex;
      flex-direction: column;

      .what-i-do__image {
        height: 478px;
        background-image: url(../images/what-i-do-bgd.jpg);
        width: 100%;
      }

      .what-i-do__title {
        font-size: 4rem;
        padding-top: 20px;
      }

      .what-i-do__text-wrapper {
        width: 100%;
      }

      .what-i-do__designs {
        padding-top: 40px;

        .what-i-do__designs-title {
          font-size: 2rem;
          line-height: normal;
          text-transform: uppercase;
        }

        .what-i-do__designs--digital {
          .what-i-do__designs-title::before {
            font-size: 2rem;
            font-weight: 10;
            line-height: normal;
          }
        }

        .what-i-do__designs--art {
          .what-i-do__designs-title::before {
            content: "02";
            font-size: 2rem;
            font-weight: 10;
            line-height: normal;
          }
        }

        .what-i-do__designs--interaction {
          .what-i-do__designs-title::before {
            content: "03";
            font-size: 2rem;
            font-weight: 10;
            line-height: normal;
          }
        }

        .what-i-do__designs--motion {
          padding-bottom: 20px;

          .what-i-do__designs-title::before {
            font-size: 2rem;
            font-weight: 10;
            line-height: normal;
          }
        }

        .what-i-do__designs-text {
          max-width: 759px;
          color: #000;
          font-family: Inter;
          font-size: 1.25rem;
          font-style: normal;
          font-weight: 200;
          line-height: 28px;
          padding-top: 10px;
        }

        .what-i-do__designs-text::after {
          margin-top: 30px;
          margin-bottom: 30px;
        }
      }
    }
  }
}
